<div class="zz_mesgs">
  <div class="zz_mesg">
    <h3 class="zz_mesg_title">为什么选择【转转】？</h3>
    <b class="zz_lineD"></b>
    <div class="zz_mesg_choose"><img src="http://img.58cdn.com.cn/zhuanzhuanftp/zzPc/zzDetail/img/choose_chahua.jpg" alt=""></div>
  </div>
  <div class="zz_mesg">
    <h3 class="zz_mesg_title">转转是什么</h3>
    <b class="zz_lineD"></b>
    <p class="zz_mesg_p">58赶集联合微信倾力打造的全新闲置交易平台</p>
    <div class="zz_mege_img">
      <img src="http://img.58cdn.com.cn/zhuanzhuanftp/zzPc/zzDetail/img/zz_mesg_png.png" alt="">
    </div>
    <ul class="zz_what_list">
      <li class="icon_png">在转转，每条信息都经过人工审核后才发布到平台；</li>
      <li class="icon_png">在转转，每笔交易都将受到平台保护，验货后才会打给卖家哦；</li>
      <li class="icon_png">在转转，你可以和卖家在线沟通，再也不用担心隐私泄露咯；</li>
    </ul>
    <b class="zz_lineD"></b>
    <p class="zz_mesg_p">转转，让闲置交易跟安全，更有趣</p>
  </div>
  <div class="zz_mesg zz_mesg_dl clearfix">
    <h3 class="zz_mesg_title">宝贝让你有点心动？只需3步，就能拥有它：</h3>
    <span class="line"></span>
    <div class="mesg_dl clearfix">
      <dl>
        <dt class="icon_png">1</dt>
        <dd class="stept">扫描二维码</dd>
        <dd>下载APP，找到宝贝</dd>
      </dl>
      <span class="jiaotou icon_png"></span>
      <dl>
        <dt class="icon_png">2</dt>
        <dd class="stept">拍下并支付</dd>
        <dd>记得联系卖家哦</dd>
      </dl>
      <span class="jiaotou icon_png"></span>
      <dl>
        <dt class="icon_png">3</dt>
        <dd class="stept">确认收货</dd>
        <dd>一定要拿到宝贝验证后再收货哟</dd>
      </dl>
    </div>
  </div>
</div>