<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  ##SEO
  <meta name="mobile-agent" content="format=xhtml; url=$mUrl">
  <meta name="mobile-agent" content="format=html5; url=$mUrl">
  <meta name="mobile-agent" content="format=wml; url=$mUrl">
  <title>
    【$!{piclen}图】${title}_${nickName}的闲置物品-转转,58同城二手
  </title>
  <meta name="description" content="$!{seoContent}"/>
  <link rel="stylesheet" type="text/css" href="http://c.58cdn.com.cn/ui7/ershou/zzdetails_pc.css" media="all">
  ##<link rel="stylesheet" type="text/css" href='$!{commonhelper.cdnCssUrl("http://static.58.com/ui7/ershou/zzdetails_pc.css")}' media="all">
  ##require and jquery  基本库代码
  <script type="text/javascript" src="http://j2.58cdn.com.cn/js/require_jquery_load.js"></script> 
  ##parse("/views/pc/fragment/common/zz_stat.html")
</head>