##底部二维码遮罩层
<div class="footer_bg">
    <div class="bg"></div>
    <div class="footer clearfix">
      <div class="wrapper">
        <div class="footer_logo">
          <img src="http://img.58cdn.com.cn/zhuanzhuanftp/zzPc/zzDetail/img/logo_orange.png" alt="">
          <p class="footer_p">普天同庆，新人立享58元红包</p>
        </div>
        <ul class="download">
          <li class="down_ios"><i class="icon_png"></i>iPhone 下载</li>
          <li class="down_andr"><i class="icon_png"></i>Android 下载</li>
        </ul>
        <div class="footer_erweima left">
          <img class="qrCode" src="" alt="">
        </div>
      </div>
    </div>
    <div class="footer_close"></div>
</div>
## 关闭灰色遮罩层后的随屏二维码
<div id="fix_erweima">
  <img class="qrCode" src="" alt="">
  <p class="fix_erweima_p">下载转转</p>
</div>
## 点击留言部分出现的二维码居中弹层
<div class="zhe"></div> 
  <div class="tan">
    <div class="tan_mesg">
      <h3 class="tan_title">在线沟通，更隐私更方便哦</h3>
      <p class="tan_p">网页版暂不支持，快来下载APP吧</p>
      <dl class="tan_erweima clearfix">
        <dt class="tan_pic" id="diver_erweima">
          <img src="" alt="" class="qrCode">
        </dt>
        <dd class="down_p">扫描上方二维码下载</dd>
        <dd class="tan_dot"></dd>
        <dd class="tan_dd">
          <p><i class="icon_png"></i>扫描二维码，下载转转APP</p>
          <p><i class="icon_png"></i>再次扫描二维码，找到宝贝</p>
          <p class="tan_PP"><i class="icon_png"></i>联系卖家，发起聊天</p>
        </dd>
      </dl>
    </div>
    <a href="javascript:;" class="tan_close"></a>
</div>